#hero-image{
	margin:-20px 0 0 0;
	padding:20px 0 10px 0;
	text-align:center;
	background:#333;
}
#hero-image img{
	width:25%;
}
#version-info{
	margin:5px 0;
	padding:0;
	text-align:center;
	font-weight:bold;
	color:#333;
	font-size:150%;
}
#about-info{
	margin:0;
	padding:0 10px;
	color:#333;
	font-size:110%;
}
#contact-info{
	margin:0;
	padding:0;
}
.contact-type{
	margin:0;
	padding:15px 10px;
	display:block;
	background:#EEE;
	font-size:120%;
	text-decoration:none;
	color:#60A917;
}
.contact-name{
	float:left;
}
.contact-desc{
	float:right;
	
}