

body{
	margin:0;
	padding:0 0 10px 0;
	width:100%;
    height:100%;
	background:#F2F2F2;
}
a {
    outline:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-focus-ring-color:rgba(0, 0, 0, 0);
}
a:hover {
    outline:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-focus-ring-color:rgba(0, 0, 0, 0);
}
.clear{
	clear:both;
}
.fixed{
	position:fixed;
}
.wrapper-element{
	z-index:100;
}
.font-light{
    font-family:"platform light", "Helvetica Neue Thin", sans-serif;
}

.font-thin{
    font-family:"platform thin", "Helvetica Neue UltraLight", sans-serif;
     font-weight:100;
}

.header-logo{
    position:absolute;
    left:0;
    margin:6px auto 4px 6px;
    width:30.4px;
    height:36px;
    background:url('../images/LogoHeader-fixed.png');
    background-repeat:no-repeat;
    background-size:contain;
}
.header-actions {
    margin:0;
    float:right;
    

}
.header-refresh {
    display:block;
    margin:8px;
    width:32px;
    height:32px;
    background-image:url('../images/ic_action_refresh.png');
    background-repeat:no-repeat;
    background-size:contain;
}
#wrapper-header-text{
	text-align:left;
}

#wrapper-nav{
	margin:0;
	padding:0;
	left:0;
	width:100%;
	height:40px;
	background:#191919;

}
#wrapper-nav ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
	height:100%;
}
#wrapper-nav ul a{
	margin:0;
	padding:0;
	display:inline-block;
	width:24%;
	height:100%;
	text-decoration:none;
	color:#FFF;
	font-size:90%;
	text-transform:uppercase;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);
	
}
#wrapper-nav ul a li{
	margin:10px 0 0 0;
	padding:0;
	display:inline-block;
}

.content-header {
    display:block;
    margin:15px 5px 5px 5px;
	padding:0;
	font-size:90%;
	color:#007F0E;
}
.content-container {
    margin:0 auto;
	padding:0;
	width:95%;
	background:#FFF;
	border-radius:3px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

}
.content-container ul {
    list-style-type:none;
    padding:10px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.content-container ul li{
    display:block;
    margin:0;
    padding:10px;
    clear:both;
    position:relative;
    border-bottom:1px solid #eee;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);

}

.content-container ul li:last-child{
    border-bottom:none;
}

.item-title {
    font-size:100%;
    font-weight:bold;
    color:#333;
}

.item-name {
    font-size:100%;
    color:#333;

}
.item-link-container{
    display:none;
    padding:7px 0 0 0;
    
}
.sites{
    margin-top:20px;
}
.site-title{
    display:block;
    margin:10px 10px -30px 10px;
    padding:0;
    font-size:200%;
}
.item-program,
.item-link-container a {
    display:inline-block;
    padding:7px;
    color:#007F0E;
    background:transparent;
    font-size:90%;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);
}
.item-email {
}
.item-web {
}

.app-title {
    display:block;
    margin:20px 0 5px 0;
    font-size:130%;
    text-align:center;
}
.app-desc {
     display:block;
     margin:10px auto;
     
}
.desc{
    display:block;
    padding:5px;
    color:#333;
    font-size:95%;
}
.app-desc .author{
    display:block;
    padding:5px;
    color:#333;
    font-size:90%;
}
.app-contact {
    margin:5px auto;
    padding:0 0 5px 0;
}
.app-contact a {
    display:block;
    margin:5px auto;
    padding:10px;
    width:60%;
    text-align:center;
    background:#F5F5F5;
    color:#333;
    font-size:90%;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);
    border:1px solid #EEE;

}
.app-twitter {
    
}
.app-dev {
    margin:10px 0 0 0;
    text-align:center;

}
.current-version-pre{
    font-size:120%;
}
.current-version {
    font-size:120%;
}

/* Color Palette
link green: #007F0E
dark green: #1A6B36
background green: #238C49;
background grey: #F2F2F2
light grey: #F5F5F5
 */



















