.router {
    font-size:120%;
}

body{
	margin:0;
	padding:0 0 10px 0;
	width:100%;
    height:100%;
	background:#F2F2F2;
}
a {
    outline:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-focus-ring-color:rgba(0, 0, 0, 0);
}
a:hover {
    outline:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-focus-ring-color:rgba(0, 0, 0, 0);
}
.clear{
	clear:both;
}
.fixed{
	position:fixed;
}
.wrapper-element{
	z-index:100;
}
.font-light{
    font-family:"platform light", "HelveticaNeue-Light", sans-serif;
}

.font-thin{
    font-family:"platform thin", "HelveticaNeue-UltraLight", sans-serif;
     font-weight:100;
}
.action-back {
    display:block;
    float:left;
    margin:8px 0px 8px 2px;
    width:32px;
    height:32px;
    background-image:url('../images/ic_action_back.png');
    background-repeat:no-repeat;
    background-size:contain;
    display:none;
}
.header-logo{
    display:block;
    float:left;
    margin:6px auto 4px 6px;
    width:30.4px;
    height:36px;
    background:url('../images/LogoHeader-fixed.png');
    background-repeat:no-repeat;
    background-size:contain;
}
.header-actions {
    margin:0;
    float:right;
    

}
.action-refresh {
    display:block;
    margin:8px;
    width:32px;
    height:32px;
    background-image:url('../images/ic_action_refresh.png');
    background-repeat:no-repeat;
    background-size:contain;
}
#wrapper-header-text{
	text-align:left;
}



#wrapper-nav ul a li{
	margin:10px 0 0 0;
	padding:0;
	display:inline-block;
}
.content-header,
.schedule-header{
	margin:10px 0 0 0;
	padding:0;
	background:#F2F2F2;
}
    .content-header span,
	.schedule-header span{
		margin:0;
		padding:5px;
		font:90% "platform light", "HelveticaNeue-Light", sans-serif;
		color:#333;
	}
.content-container {
    margin:0 auto;
	padding:0;
	width:95%;
	background:#FFF;
	border-radius:3px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

}
.content-container ul {
    list-style-type:none;
    padding:5px 10px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.content-container ul li{
    display:block;
    margin:0;
    padding:10px;
    clear:both;
    position:relative;
    border-bottom:1px solid #eee;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);

}

.content-container ul li:last-child{
    border-bottom:none;
}

.item-title {
    font-size:100%;
    font-weight:bold;
    color:#333;
}

.item-name {
    font-size:100%;
    color:#333;

}
.item-link-container{
    display:none;
    padding:7px 0 0 0;
    
}
.sites,
.staff{
    margin-top:20px;
}
.item-program {
    display:block;
}
.item-link-container a{
    display:inline-block;
}
.item-program,
.item-link-container a {
    padding:3px 10px 7px 3px;
    color:#007F0E;
    background:transparent;
    font-size:90%;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);
}
.item-email {
}
.item-web {
}

.app-title {
    display:block;
    margin:20px 0 5px 0;
    font-size:130%;
    text-align:center;
}
.app-desc {
     display:block;
     margin:10px auto;
     
}
.desc{
    display:block;
    padding:5px;
    color:#333;
    font-size:95%;
}
.app-desc .author{
    display:block;
    padding:5px;
    color:#333;
    font-size:90%;
}
.app-contact {
    margin:5px auto;
    padding:0 0 5px 0;
}
.app-contact a {
    display:block;
    margin:5px auto;
    padding:10px;
    width:60%;
    text-align:center;
    background:#F5F5F5;
    color:#333;
    font-size:90%;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);
    border:1px solid #EEE;

}
.app-twitter {
    
}
.app-dev {
    margin:10px 0 0 0;
    text-align:center;

}
.current-version-pre{
    font-size:120%;
}
.current-version {
    font-size:120%;
}
.legal {
    width:90%;
    margin:5px auto;
    display:block;
    font-size:80%;

}

.psd-container {
    margin:20px auto 0 auto;
    background:#F788BB;
    display:none;
}
.psd {
    display:block;
    padding:10px;
    color:#FFF;
    text-align:center;
}
.psd-title {
    display:block;
    margin:0 0 7px 0;
    text-transform:uppercase;
    font-size:110%;
    font-weight:bold;
}
.psd-link {
    margin:0 5px;
    color:#FFF;
}

/* Color Palette
link green: #007F0E
dark green: #1A6B36
background green: #238C49;
background grey: #F2F2F2
light grey: #F5F5F5
peach: #FEF0DB
pink: #CE6A96;
light pink: #F788BB;
 */



















