/*THIS WONT SHOW UP*/
@font-face {
    font-family: "platform thin";
    src: url("../fonts/android/Roboto-Thin.ttf") format("opentype");   
    }
@font-face {
    font-family: "platform light";
    src: url("../fonts/android/Roboto-Light.ttf") format("opentype");   
    }

#wrapper-header{
	margin:0;
	width:100%;
	height:auto;
	background:#238C49;
}

.header-container {
      border-bottom:3px solid #1A6B36;
}
#wrapper-nav{
	margin:0;
	padding:0;
	left:0;
	width:100%;
	height:40px;
	background:#191919;

}
#wrapper-nav ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
	height:100%;
}
#wrapper-nav ul a{
	margin:0;
	padding:0;
	display:inline-block;
	width:24%;
	height:100%;
	text-decoration:none;
	color:#FFF;
	font-size:90%;
	text-transform:uppercase;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);
	
}
#content-container{
	margin:0;
	padding:5.2em 0 5px 0;
    
}

.content-container{

	-webkit-box-shadow:0px 2px 1px #CCC;
    box-shadow:0px 2px 1px #CCC;
}

.alert-message {
    text-transform:uppercase;
	font:100% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
    font-weight:bold;
	color:#444;
}

.error-message{
	display:block;
	padding:10px;
    text-align:center;
    text-transform:uppercase;
	font:100% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
    font-weight:bold;
	color:#444;
}