#schedule-container{
	margin:0;
	padding:0
}
.schedule-header{
	margin:10px 0 0 0;
	padding:0;
	background:#EEE;
	
}
	.schedule-header span{
		margin:0;
		padding:5px;
		font:90% "robot light" sans-serif;
		color:#007F0E;
	}
	.schedule-header-title{
		float:left;
	}
	.schedule-header-day{
		float:right;
	}
	
#timetable-container{
	
	padding:9em 0 0 0;
}
#schedule-table{
	margin:auto;
	padding:0;
	width:95%;
	background:#FFF;
	border-radius:3px;
	box-shadow:0px 3px 5px #CCC;
}

.schedule-item{
	padding:3px 10px;
	display:block;
}
.schedule-block{
	margin:0;
	float:left;
	font:300% "robot light", sans-serif;
	color:#444;
}
.schedule-info {
    margin:5px 0 0 0;
    float:right;
}
.schedule-points {
    display:block;
    font:150% "robot light", sans-serif;
	color:#333;
}
.schedule-dur{
    float:right;
    font:80% "robot thin", sans-serif;
	color:#333;
}
.schedule-meta{
	margin:0 10px;
	padding:3px 0;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	font:90% "robot light", sans-serif;
}
.schedule-title{
	margin:0 5px 0 0;
	color:#444;
	font-weight:bold;
}


.error-message-today,
.error-message-tomorrow{
	display:block;
	padding:10px;
	font:100% "robot light", sans-serif;
	color:#333;
}


