#schedule-container{
	margin:0;
	padding:0
}

	.schedule-header-title{
		float:left;
	}
	.schedule-header-day{
		float:right;
	}
	
#timetable-container{
	
	padding:9em 0 0 0;
}


.schedule-item{
	padding:3px 10px;
	display:block;
}
.schedule-block{
	margin:0;
	float:left;
	font:300% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
    font-weight:100;
	color:#444;
}
.schedule-info {
    margin:5px 0 0 0;
    float:right;
}
.schedule-points {
    display:block;
    font:150% "platform light", "HelveticaNeue-Light", sans-serif;
	color:#333;
}
.schedule-dur{
    float:right;
    font:80% "platform light", "HelveticaNeue-Light", sans-serif;
	color:#333;
}
.schedule-meta{
	margin:0 10px;
	padding:3px 0;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	font:90% "platform light", "HelveticaNeue-Light", sans-serif;
}
.schedule-title{
	margin:0 5px 0 0;
	color:#444;
	font-weight:bold;
}



.error-message span{
	display:block;
	padding:10px 5px;
    text-transform:none;
	font:90% "platform light", "HelveticaNeue-Light", sans-serif;
	color:#333;
}
.banner-container {
    display:block;
    padding:10px;
    background:#FEF0DB;
    text-align:center;
}


