#schedule-container{
	margin:0;
	padding:0
}
.schedule-header{
	margin:10px 0 0 0;
	padding:0;
	background:#F2F2F2;
	
}
	.schedule-header span{
		margin:0;
		padding:5px;
		font:90% "platform light", "Helvetica Neue Thin", sans-serif;
		color:#007F0E;
	}
	.schedule-header-title{
		float:left;
	}
	.schedule-header-day{
		float:right;
	}
	
#timetable-container{
	
	padding:9em 0 0 0;
}


.schedule-item{
	padding:3px 10px;
	display:block;
}
.schedule-block{
	margin:0;
	float:left;
	font:300% "platform thin", "Helvetica Neue Thin", sans-serif;
	color:#444;
}
.schedule-info {
    margin:5px 0 0 0;
    float:right;
}
.schedule-points {
    display:block;
    font:150% "platform light", "Helvetica Neue Thin", sans-serif;
	color:#333;
}
.schedule-dur{
    float:right;
    font:80% "platform light", "Helvetica Neue Thin", sans-serif;
	color:#333;
}
.schedule-meta{
	margin:0 10px;
	padding:3px 0;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	font:90% "platform light", "Helvetica Neue Thin", sans-serif;
}
.schedule-title{
	margin:0 5px 0 0;
	color:#444;
	font-weight:bold;
}


.error-message{
	display:block;
	padding:10px;
    text-align:center;
    text-transform:uppercase;
	font:bold 100% "platform thin", "Helvetica Neue UltraLight", sans-serif;
	color:#000;
}
.error-message span{
	display:block;
	padding:10px 5px;
    text-transform:none;
	font:90% "platform light", "Helvetica Neue Thin", sans-serif;
	color:#333;
}

