<div id="error-today">
    <div id="schedule-container">
        <div class="schedule-header">
            <span class="schedule-header-title">Today's Schedule</span>
            <span class="schedule-header-day"> </span>
            <div class="clear"></div>
        </div>
        <div id="schedule-table">
            <span class="error-message-today"></span>
        </div>
    </div>
</div>
<div id="error-tomorrow">
    <div id="schedule-container">
        <div class="schedule-header">
            <span class="schedule-header-title">Tomorrow's Schedule</span>
            <span class="schedule-header-day"> </span>
            <div class="clear"></div>
        </div>
        <div id="schedule-table">
            <span class="error-message-tomorrow"></span>
        </div>
    </div>
</div>

<div id="normal">
	<div id="schedule-container">
		<div class="schedule-header">
			<span class="schedule-header-title"> </span>
			<span class="schedule-header-day"> </span>
			<div class="clear"></div>
		</div>
		<div id="schedule-table">
			<div class="schedule-item">
				<div class="schedule-block">
					<span id="timetable1"></span>
				</div>
                <div class="schedule-info">
                    <span class="schedule-points">8:30 - 9:50</span>
                    <span class="schedule-dur">1 hour, 20 minutes</span>
                </div>
				<div class="clear"></div>
			</div>
			<div class="schedule-meta">
				<span class="schedule-title">Break</span>
				<span class="schedule-dur">15 minutes</span>
			</div>
			<div class="schedule-item">
				<div class="schedule-block">
					<span id="timetable2"></span>
				</div>
				<div class="schedule-info">
					<span class="schedule-points">10:05 - 11:25</span>
					<span class="schedule-dur">1 hour, 20 minutes</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="schedule-meta">
				<span class="schedule-title">Rotate</span>
				<span class="schedule-dur">5 minutes</span>
			</div>
			<div class="schedule-item">
				<div class="schedule-block">
					<span id="timetable3"></span>
				</div>
				<div class="schedule-info">
					<span class="schedule-points">11:30 - 12:50</span>
					<span class="schedule-dur">1 hour, 20 minutes</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="schedule-meta">
				<span class="schedule-title">Lunch</span>
				<span class="schedule-dur">50 minutes</span>
			</div>
			<div class="schedule-item">
				<div class="schedule-block">
					<span id="timetable4"></span>
				</div>
				<div class="schedule-info">
					<span class="schedule-points">12:40 - 3:00</span>
					<span class="schedule-dur">1 hour, 20 minutes</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
