<a id="none" class="content-article week-day route-initiator">
    <div class="data">
    </div>
    <div class="container date">
        <span class="day"></span>
        <span class="num"></span>
        <span class="month"></span>
    </div>
    <div class="reason">
        <span>No school scheduled</span>
    </div>
    <div class="clear"></div>
</a>
<a id="8_3" class="content-article week-day route-initiator" href="push > routeLayer, Day_View">
    <div class="data">
    </div>
    <div class="container date">
        <span class="day"></span>
        <span class="num"></span>
        <span class="month"></span>
    </div>
    <div class="container info">
        <div class="structure">
            <span>8:30am - 3:00pm</span>
        </div>
        <div class="order">
        </div>
    </div>
    <div class="clear"></div>
</a>
<a id="9_3" class="content-article week-day alert route-initiator" href="push > routeLayer, Day_View">
    <div class="message">
        <span>Schedule Alert: Late Start</span>
    </div> 
    <div class="data">
    </div>
    <div class="container date">
        <span class="day"></span>
        <span class="num"></span>
        <span class="month"></span>
    </div>
    <div class="container info">
        <div class="structure">
            <span>9:50am - 3:00pm</span>
        </div>
        <div class="order">
        </div>
    </div>
    <div class="clear"></div>
</a>
<a id="out" class="content-article week-day alert route-initiator">
    <div class="message">
        <span>Please update this app</span>
    </div> 
    <div class="data">
    </div>
    <div class="container date">
        <span class="day"></span>
        <span class="num"></span>
        <span class="month"></span>
    </div>
    <div class="reason">
        <span>Update required to continue</span>
    </div>
    <div class="clear"></div>
</a>


