
@font-face {
    font-family: "platform thin";
    src: url("../fonts/android/Roboto-Thin.ttf") format("opentype");   
    }
@font-face {
    font-family: "platform light";
    src: url("../fonts/android/Roboto-Light.ttf") format("opentype");   
    }

#content-container{
	margin:0;
	padding:5.2em 0 30px 0;
    
}