/*ANDROID*/
@font-face {
    font-family: "platform thin";
    src: url("../fonts/android/Roboto-Thin.ttf") format("opentype");   
    }
@font-face {
    font-family: "platform light";
    src: url("../fonts/android/Roboto-Light.ttf") format("opentype");   
    }
