#wrapper-header{
	margin:0;
	width:100%;
	height:auto;
	background:#238C49;
}

.header-container {
      
}
#wrapper-nav{
	position:fixed;
	bottom:0;
}

#content-container{
	margin:0;
	padding-top:3em;
    padding-bottom:40px;
    
}

.content-container{
    -webkit-box-shadow:none;
    box-shadow:none;
}