#ticker-container{
	margin:-20px 0 0 0;
	padding:10px 0 0 0;
	width:100%;
	background:#333;
	box-shadow:0 1px 5px #222;
}
#ticker-numbers-container{
	margin:0;
	padding:3px 0;
	background:transparent;
}
.ticker-text{
	margin:0;
	padding:3px;
	font-size:105%;
	color:#FFF;
	text-align:left;
	font-family:"robot light", sans-serif;
}
#today-weekday{
		margin:0;
		padding:0 5px;
		float:left;
	}
#today-date{
	margin:0;
	padding:0;
	float:left;
}
#today-blockday{
	margin:0;
	padding:0 5px;
	float:right;
}
#ticker-numbers-header{
	
}
#ticker-numbers{
	margin:0;
	padding:0;
	text-align:center;
}
	.ticker-block{
		margin:0 5px;
		padding:0 10px;
		font:600% sans-serif;
		color:#FFF;
		font-family:"robot thin", sans-serif;
	}
.timetable-fail{
		margin:10px 0;
		width:100%;
		font:140% sans-serif;
		color:red;
		display:block;
		text-align:center;
		
	}

/*RESOURCES START*/
	/*
	Lime: 				#A4C400; RGB(164, 196, 0)

	Green: 				#60A917; RGB(96, 169, 23)
	Dark Green:  		#007F0E; RGB(0,127,14)

	Emerald: 			#008A00; RGB(0, 138, 0)

	Teal: 				#00ABA9; RGB(0, 171, 169)

	Cyan: 				#1BA1E2; RGB(27, 161, 226)

	Cobalt: 			#0050EF; RGB(0, 80, 239)

	Indigo: 			#6A00FF; RGB(106, 0, 255)

	Violet: 			#AA00FF; RGB(170, 0, 255)

	Pink: 				#F472D0; RGB(244, 114, 208)

	Magenta: 			#D80073; RGB(216, 0, 115)

	Crimson: 			#A20025; RGB(162, 0, 37)

	Red: 				#E51400; RGB(229, 20, 0)

	Orange: 			#FA6800; RGB(250, 104, 0)

	Amber: 				#F0A30A; RGB(240, 163, 10)

	Yellow: 			#E3C800; RGB(227, 200, 0)

	Brown: 				#825A2C; RGB(130, 90, 44)

	Olive: 				#6D8764; RGB(109, 135, 100)

	Steel:				#647687; RGB(100, 118, 135)

	Mauve: 				#76608A; RGB(118, 96, 138)

	Taupe: 				#87794E; RGB(135, 121, 78)
	*/