#schedule-container{
	margin:0;
	padding:0
}
.schedule-header{
	margin:0;
	padding:0;
	background:#EEE;
	
}
	.schedule-header h1{
		margin:0;
		padding:5px;
		font:115% "robot light" sans-serif;
		color:#007F0E;
	}
	
#timetable-container{
	
	padding:9em 0 0 0;
}
#schedule-table{
	margin:10px auto 20px auto;
	padding:0;
	background:#EEE;
}
#schedule-table-thead{
	margin:0;
}
.table-th{
	font:130% sans-serif;
	color:#FFF;
	text-align:center;
	background:#333;
	padding:5px;
}


.table-major{
	/*See html*/
}
.table-minor{
}
	.major-c1,
	.minor-c1,
	.major-c2,
	.minor-c2,
	.major-c4,
	.minor-c4,
	.major-c5,
	.minor-c5{
		margin:0;
		padding:0;
	}
	
	.major-c1,
	.minor-c1{
		width:30%;
		text-align:center;
	}
	.major-c2,
	.minor-c2{
		text-align:right;
	}
	.major-c3,
	.minor-c3{
		margin:0;
		padding:0;
		width:10%;
		text-align:center;
	}
	.major-c2,
	.minor-c2,
	.major-c4,
	.minor-c4{
		width:5%;
	}
	
	.major-c5,
	.minor-c5{
		text-align:center;
	}
.major-c1,
.major-c2,
.major-c3,
.major-c4,
.major-c5{
	margin:0;
	padding:10px 0;
	font:120% sans-serif;
	color:#333;
}
.minor-c1,
.minor-c2,
.minor-c3,
.minor-c4,
.minor-c5{
	margin:1px 0;
	padding:0;
	background:#007F0E;
	font:italic 110% sans-serif;
	color:#FFF;
	padding:2px;
}




















